--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Models; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Models" (
    "EventId" integer NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "TenantId" text NOT NULL,
    "MetricType" text NOT NULL,
    "MetricValue" double precision NOT NULL,
    "JsonField" text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."Models" OWNER TO postgres;

--
-- Name: Models_EventId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Models" ALTER COLUMN "EventId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Models_EventId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Models; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Models" ("EventId", "Timestamp", "TenantId", "MetricType", "MetricValue", "JsonField") FROM stdin;
1	2023-06-01 18:15:11.63+03	string	string	0	string
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20230601125626_Initial	7.0.5
20230601125732_second	7.0.5
20230601131426_third	7.0.5
20230601143517_huh	7.0.5
\.


--
-- Name: Models_EventId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Models_EventId_seq"', 1, true);


--
-- Name: Models PK_Models; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Models"
    ADD CONSTRAINT "PK_Models" PRIMARY KEY ("EventId");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- PostgreSQL database dump complete
--

